= form_for @metric do |test_form|
  .formInputs
    .testDetails
      %legend='Test Details'
      = test_form.hidden_field :creator_id, value: current_user.id
      = test_form.label :name
      = test_form.text_field :name, placeholder: 'Test Name...'
      = test_form.label :description
      = test_form.text_area :description, placeholder: 'Describe Your New Test Here...', size: '60x10'
    .questionDetails
      %legend='Question Details'
      = test_form.fields_for :questions do |question_form|
        = render partial: 'question_form', object: question_form
      #AddQuestion.btn.btn-small="Add Another Question"
  = test_form.submit "Create Metric!", class: 'btn btn-success btn-large'
