.questionInput.hidden
  = question_form.label :question
  = question_form.text_field :question, placeholder: 'Question Name'
  = question_form.label :input_label
  = question_form.text_field :input_label, placeholder: 'Data Label'
  %br
  %span='Data Type:'
  .answerTypes
    %label.radio
      = question_form.radio_button(:answer_type, 'numeric')
      Number
    %label.radio
      = question_form.radio_button(:answer_type, 'classification')
      Classification
    %label.radio
      = question_form.radio_button(:answer_type, 'string')
      String
